@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stefowizz Shopping Center</h1>
    <br />

    <div class="row">
        <div class="col-md-6">
            <img src="~/img/kid wit toy.jpg" />
            <h2 class="display-5">Toys Under $30</h2>
        </div>
        <br />
        <div class="col-md-6">
            <img src="~/img/fuji_dash_beauty_1x._sy304_cb432774351_.jpg" />
            <h2 class="display-5">Beauty picks</h2> 
        </div>
        <br />
        <div class="col-md-6">
            <img src="~/img/fuji_dash_fitness_1x._sy304_cb639748186_.jpg" />
            <h2 class="display-5">Gym Equipment Under $1000</h2>
        </div>
        <br />
        <div class="col-md-6">
            <img src="~/img/gw_cons_aus_hpc_hpcessentials_catcard_desktop1x._sy304_cb627424361_.jpg" />
            <h2 class="display-5">Health & Personal Care</h2> 
        </div>
    </div>

</div>
