@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Last updated: August 11, 2023. </h1>

<p>
    We know that you care how information about you is used and shared, and we appreciate your<br />
    trust that we will do so carefully and sensibly. This Privacy Notice describes how Stefowizz.com<br />
    and its affiliates (collectively "Stefowizz") collect and process your personal information through<br />
    Stefowizz websites, devices, products, services, online and physical stores, and applications that<br />
    reference this Privacy Notice (together "Stefowizz Services"). By using Stefowizz Services, you<br />
    are consenting to the practices described in this Privacy Notice.<br /> 
</p>

<p>Use this page to detail your site's privacy policy.</p>
